section{
	display : block;
	text-align : center;
}


#img_accueil{
	width : 700px;
	height : auto;
	margin : 0 auto;
}

.wrapper{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.dataWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;

}

.prefixe{
    color: #832429;
    font-size: 200%;
    margin-bottom: 10%;
}

.data{
    color : #0081dc;
    text-align: center;
    font-size: 150%;
    justify-content: center;
}

.prefixe2{
    color: #832429;
    font-size: 200%;
}

.wrapper2{
    margin: 30px;
    display: flex;
    justify-content: center;
}

.data2{
    color : #0081dc;
    text-align: center;
    font-size: 230%;
    justify-content: center;
    margin-right: 15px;
}


.comment{
    display: flex;
    color: #818181;
    font-size: small;
    justify-content: center;
    position: relative;
}

.petit{
    margin-top: 10%;
    font-size: small;
    color: #832429;
    text-align: center;
}

.showLogs{
    font-weight: bold;
    font-size: x-large;
    display: block;
    margin: 5% auto;
    text-align: center;
    border: rgba(131, 36, 41, 1);
    border-radius: 20px;
}