section{
	display : block;
	text-align : center;
}


#img_accueil{
	width : 700px;
	height : auto;
	margin : 0 auto;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.dataWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;

}

.prefixe{
    color: #832429;
    font-size: x-large;
    margin-bottom: 10%;
}

.data{
    color : #0081dc;
    text-align: center;
    font-size: large;
    justify-content: center;


}


.comment{
    display: flex;
    color: #818181;
    font-size: small;
    justify-content: center;
    position: relative;
}

.petit{
    margin-top: 10%;
    font-size: small;
    color: #832429;
    text-align: center;
}