h1 {
    text-align: center;
    font-size: 300%;
    color: #832429;
    height: 50px;
}

h2 {
    text-align: center;
}

.centrer {
    text-align: center;
}

.rouge {
    color: #832429;
}

.bleue {
    color: #0081dc;
}

.trait_dessus
{
    border-top: 1px solid #000;
    width : 50%;
    margin-left: 25%;
    margin-top: 50px;
}

#test {
    margin-left: 85%;
}


#carrousel, #carrousel2, #carrousel3, #carrousel4, #carrousel5{
    position:static;
    width:320px;
    height:200px;
    margin: auto;
}


#carrousel ul li, #carrousel2 ul li, #carrousel3 ul li, #carrousel4 ul li, #carrousel5 ul li{
    position: absolute;
    margin-left: 3.75%;
    list-style-type: none;
    width: 10%;
}


.prev, .prev2, .prev3, .prev4, .prev5{
    float: left;
    margin-top: 90px;
}


.next, .next2, .next3, .next4, .next5 {
    float: right;
    margin-top: 90px;
}

.imgborder {
    width: 200px;
    height: auto;
}





