/* conteneur et element nous permet de definir flexbox pour ajout capteur et trier par */

#conteneur
{
    display: flex;
    justify-content: space-around;
    align-items: center;    
	margin: 15px 0px 0px 0px;  
	flex-wrap: wrap;
}




/* element 2 trier par deroulant */
.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
   	padding:5px 5px 5px 5px; /* add some space*/
    margin: 0; /* remove default margins */
    border-color:rgb(0,129,220);
    color:rgb(0,0,0);
    font-family:Montserrat , serif;
    font-size:0.75em;
}

.custom-dropdown__select--white {
    background-color: rgba(129,129,129,0.3);
    color:rgb(0,0,0);
}

/* ecriture1/2 nous permet de definir la taille, la couleur et le type de cursor pour les ecritures dans la page */
.ecriture1{
	margin-left:5px ;
	font-size:2.5em;
	color: black;
	cursor:pointer;
}

.ecriture2{
	font-size:1.25em;
	color: rgb(131,36,41);
	background-color: rgba(129,129,129,0.3);
	border-radius: 30px;
	align-items: end;
	cursor:pointer;
	border: 2px solid rgb(131,36,41);
	padding:10px 10px 10px 10px;
	
}

.ecriture2:hover{
	background-color: rgba(129,129,129,0.7);
}



/* taille de l'image des flêches bas et gauche*/
.fleche{
	height:30px;
	width:auto;
	margin-right: 10px;
}

/*faire les 2 modes differents : afficher le texte en dessous de maison ou le cacher*/
/*enlever la decoration des liens puis mettre une autre couleur*/
.afficher{
	text-decoration:none;	
	color: rgb(129,129,129);
	margin: 10px 0px 0px 0px;
}

#conteneur2
{
    display: flex;
    justify-content: center;
    align-items: center;   
	flex-wrap: wrap;
	
}


/*CURSEUR DEBUT */
/* partie commune */
input[type=range].custom-slider {
  -webkit-appearance: none;     /*nécessaire pour Chrome */
  padding: 0;                   /* nécessaire pour IE */
  margin:-500px 0px 0px 0px;
  font: inherit;                /* même rendu suivant font document */
  outline: none;
  color: #069;                  /* sert pour couleur de référence, via currentColor, pour le curseur */
  opacity: .8;
  background: #CCC;             /* sert pour couleur de fond de la zone de déplacement */
  box-sizing: border-box;       /* même modèle de boîte pour tous */
  transition: opacity .2s;
  cursor: pointer;
}
/*curseur fin*/

.switch{
	justify-content: left;
	align-items : left;
	padding: 0px 0px 0px 0px;
	margin :0px 0px 0px 0px;
}



.pieces {
	width: 90%;
	max-height: 500px;
	background-color: rgba(129,129,129,0.5);
	overflow-x: hidden;  /*scroll*/
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 20px;
  }

.piece{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
  
  
.ecriture3{
	font-size:1.25em;
	color: rgb(131,36,41);
	border: 1.5px solid rgb(131,36,41);
	padding:10px 60px 0px 60px;
	margin:10px 10px 10px 10px;
	text-align:center;
	min-height:350px;
	max-height:350px;
	min-width:160px;
	max-width:160px;
	border-radius: 20px;
	
}


.capteur{
	height:75px;
	width:auto;
}

.capteur_ecriture{
	margin:30px 0px 30px 0px;
}

.capt{
	color:rgb(131,36,41);
	font-size:20px;
	margin: auto;
	margin-bottom : 20px;
	
}

img.btn-fermer{
	float:right;
	margin:0 0 0 0;
	height:60px;
	width:auto;
	
}

.btn-fermer2{
	float:right;
	margin:-260px -70px 0px 0px;
	height:60px;
	width:auto;
	border:none;
	box-shadow: none;
	outline:0;
}

.btn-modifier{
	float:right;
	margin:-283px -18px 0px 0px;
	height:30px;
	width:auto;
	border:none;
	box-shadow: none;
	outline:0;
}

.bouton{
	position: absolute;
  	top: 6em;
  	right: 6em;
	
}

/*fenetre modale*/
[id*='masques']{
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;
}

[id*='masques']:target{
	display:block;
}

/*fenetre modale*/

/*Pour bouton on off*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Pour bouton on off*/



