footer
{
	margin: auto;
	padding-top: 2%;
	display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%; /* 3 colonnes */
    grid-template-rows: 135px;                /* 1 ligne */
    border-top: solid black;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
	margin-bottom: 1%;
}

#Coordonnees h3 
{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3{
	font-weight: bold;
}

#Coordonnees
{
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0%
}

#pb
{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#reseaux
{
	text-align: right;
	margin-right: auto;
	margin-left: auto;
}

#Coordonnees, #pb, #reseaux
{
	float: left
}

#bouton
{
	border-bottom: solid black 1px;
	border-radius: 0px;
	padding-bottom: 4%;
}

#Coordonnees h3
{
    color: #832429;
}

#pb
{
	color: #832429
}

#reseaux
{
	color: #832429
}

li {
    display: block;
	margin:1%;
	width: 300px;
}

#sug{
	margin-bottom: 2%;
}

#nc{
	margin-bottom: 3%;
}

.imgsR{
	text-align: center;
	margin-top: 11%;
}

.button {
    border: 1px solid rgb(0,97,161);
    border-radius: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    background: rgb(0,97,161);
    margin-top: 5px;
}

