footer
{
	margin: auto;
	display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%; /* 3 colonnes */
    grid-template-rows: 105px;                /* 1 ligne */
    border-top: solid black;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

#Coordonnees h3 
{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#Coordonnees
{
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0%
}

#pb
{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#reseaux
{
	text-align: right;
	margin-right: auto;
	margin-left: auto;
}

#Coordonnees, #pb, #reseaux
{
	float: left
}

#boutton
{
	font-style: normal;
}

#Coordonnees h3
{
    color: #832429;
}

#pb
{
	color: #832429
}

#reseaux
{
	color: #832429
}

li {
    display: block;
}

