#info_perso {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.30);
    border: solid #444444;
}

#info_persop {
    margin:20px;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.30);
}

/*Pour le collapse*/
.accordion {
    font-family: Montserrat, serif;
    font-size: medium;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom: 0;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-bottom: 0;
}

.active:after {
    content: "\2212";
}

.panel {
    line-height: 100%;
    background-color: white;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 100%;
    height:250px;
    overflow: auto;
    border-left: 1px solid #777;
    border-bottom: 1px solid #777;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #832429;
}

input:focus + .slider {
    box-shadow: 0 0 1px #832429;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}


/*Formulaire ajout maison*/
#formaison {
    text-align: center;
    color: #832429;
    margin: 20px;
}

#btn_maison {
    border: none;
    background: inherit;
    display: inline-block;
    float: right;
    color: #832429;
}

select {
    padding:3px;
    border:1px solid #0081dc;
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    cursor:pointer;
}

/*Liste des droits*/
.ins_form {
    display: flex;
    justify-content: center;
    margin: auto;
    color: rgb(50,50,50);
    font-size: 1.02em;
    line-height: normal;
}

.Partie_Gauche{
    margin: auto;
    width: 40%;
    padding-left: 3%;
    padding-right: 4.5%;
    border: solid #832429;
}

.Partie_Droite{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding-left: 5%;
    width: 40%;
    border: solid #832429;
}

.Partie_Gauche h3, .Partie_Droite h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Partie_Droite i {
    color: #444444;
}

#droit {
    border-bottom: solid #444444;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.container {
    padding: 16px;
    position: center;
    margin-left: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #832429;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*Page modification du profil*/
hr {
    border: none;
    margin: 0;
}



/* background-color: #0081dc; BLEU */
/* background-color: #832429; BORDEAU */
/* background-color: #818181; GRIS */

@font-face{
    font-family: 'montserrat-Reg';
    src: url('../../res/polices/montserrat/Montserrat-Regular.otf')
}

body{

    font-family: Montserrat, serif;
    background: url(../../res/images/BGville.png) no-repeat fixed;
    background-size:cover;
    background-position: 100%;
    width : 1200px;
    margin: auto;


}

header{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%; /* 3 colonnes */
    grid-template-rows: 105px;                /* 1 ligne */
    border-bottom: solid black;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    /*position: sticky;
    top: 0;  */


}

.nom{
    display: flex;
    flex-direction: column;
    align-items: center; /*Alignement horizontal*/
    justify-content: center; /*Alignement vertical*/
    grid-column: 1; grid-row: 1;
}

.kingdomepng{
    width: 244px;
    height: 47px;
}

.slogan{
    grid-column: 1; grid-row: 1;
    padding-left: 3%;
}

.logo{
    grid-column: 2; grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logopng{
    width: 17%;
    height: 87%;
}

.kingdomepng2{
    width: 244px;
    height: 47px;
    margin: auto;

}

nav{
    grid-column: 3; grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

.icone{
    width: 40px;
    height: 40px;
}

#corps{
    margin : 5%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.30);
    border: solid #832429;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: #832429;
    font-weight: bold;
    font-size: 200%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;

}

h2  {
    text-align: start;
    font-size: 150%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    font-weight: bold;
    color: #832429;
}


input, .submit_button,textarea {
    padding:3px;
    border:1px solid #0081dc;
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    cursor:pointer;
}

.container label{
    margin-bottom: 2%;
    display: block;
    width: 150px;
    float: left;
}

.form label {
    margin-bottom: 2%;
    display: block;
    width: 150px;
    float: left;
}

input {
    size: 35px;
}

p {
    line-height: 150%;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-align: justify;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    border: 2px solid black;
}

th {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.errormessage{
    display: block;
    text-align: center;
    font-size: large;
    margin: 2%;
    color: red;
}

.message{
    display: block;
    text-align: center;
    font-size: large;
    margin: 2%;
    color: green;
}

#bienvenue{
    display: block;
    margin: 2% 3% 0 7%;
}

button:hover{
    background-color: rgba(129, 129, 129,0.3);
}


