
#ins_form{

    display: flex;
    justify-content: center;
    margin: auto;
    color: rgb(50,50,50);
    font-size: 1.02em;
    line-height: normal;
}

#Partie_Gauche{
    margin: auto;
    width: 50%;
    padding-right: 4.5%;
}

#Partie_Droite{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding-left: 5%;
    width: 50%;
    border-left: 4px solid #832429;

}



.submit{
    margin: auto;
    padding-left: 20%;
}

.submit_button{
    background-color: white;
}

.connexion_button{
    margin: auto;
    padding-left: 35%;
}

