/* background-color: #0081dc; BLEU */
/* background-color: #832429; BORDEAU */
/* background-color: #818181; GRIS */

@font-face{
    font-family: 'montserrat-Reg';
    src: url('../../res/polices/montserrat/Montserrat-Regular.otf')
}

body{
    font-family: Montserrat, serif;
    background: url(../../res/images/BGville.png) no-repeat fixed;
    background-size:cover;
    background-position: 100%;
    width : 1200px;
    margin: auto;
}

header{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%; /* 3 colonnes */
    grid-template-rows: 105px;                /* 1 ligne */
    border-bottom: solid black;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    /*position: sticky;
    top: 0;  */
}

button{
    background: none;
    border-width:0;
    font-family: Montserrat, serif;
    font-size: medium;

}

button:hover{
    background-color: rgba(129, 129, 129,0.3);
    border-left: solid #0081dc;
}

.nom{
    display: flex;
    flex-direction: column;
    align-items: center; /*Alignement horizontal*/
    justify-content: center; /*Alignement vertical*/
    grid-column: 1; grid-row: 1;
}

.kingdomepng{
    width: 244px;
    height: 47px;
}

.slogan{
    grid-column: 1; grid-row: 1;
    padding-left: 3%;
}

.logo{
    grid-column: 2; grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logopng{
    width: 17%;
    height: 87%;
}

.kingdomepng2{
    width: 244px;
    height: 47px;
    margin: auto;

}

nav{
    grid-column: 3; grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

.icone{
    width: 40px;
    height: 40px;
}

#corps{
    margin : 5%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.30);
    border: solid #832429;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: #832429;
    font-weight: bold;
    font-size: 200%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;

}

h2  {
    text-align: start;
    font-size: 150%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    font-weight: bold;
    color: #832429;
}


input, .submit_button,textarea, select {
    padding:3px;
    border:1px solid #0081dc;
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    cursor:pointer;
    outline: none;
}

input:focus {
    border-color: rgba(82, 168, 236, 0.75);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

label{
    margin-bottom: 2%;
}

p {
    line-height: 150%;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: justify;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    border: 2px solid black;
}

th {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.errormessage{
    display: block;
    text-align: center;
    font-size: large;
    margin: 2%;
    color: red;
}

.message{
    display: block;
    text-align: center;
    font-size: large;
    margin: 2%;
    color: green;
}

#bienvenue{
    display: block;
    margin: 2% 3% 0% 7%;
}

/*fenetre modale*/
[id*='masque']{
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;
}

[id*='masque']:target{
	display:block;
}


.fenetre-modale{

	padding:2px;
	border:2px solid rgb(0,129,220);
	position:center;
	margin:10% auto;
	width:300px;
	box-shadow:0px 0px 20px #000;
    background-color: rgb(220,220,220);
    border-radius: 30px;
    text-align:center;
}

img.btn-fermer{
	float:right;
	margin:-55px 0 0 ;
	height:60px;
	width:auto;
}

.blanc{
	color:rgb(0,0,0);
}

/*fin fenetre modale*/