/* background-color: #0081dc; BLEU */
/* background-color: #832429; BORDEAU */
/* background-color: #818181; GRIS */

@font-face{
    font-family: 'montserrat-Reg';
    src: url('../../res/polices/montserrat/Montserrat-Regular.otf')
}

body{

    font-family: Montserrat, serif;
    background: url(../../res/images/BGville.png) no-repeat fixed;
    background-size:cover;
    width : 1000px;
    margin: auto;

    border: solid blue;
}

header{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%; /* 3 colonnes */
    grid-template-rows: 100px;                /* 1 ligne */

    border: solid red;

}

button{
    background: none;
    border-width:0;
    font-family: Montserrat, serif;
}

.nom{
    grid-column: 1; grid-row: 1;

}

.kingdomepng{

    width: 244px;
    height: 47px;
    margin-left: 10px;
    /*
    margin-top: 36px;

    */
}

.logo{
    grid-column: 2; grid-row: 1;
    display: flex;
    justify-content: center;

    border: solid palegreen;
}

.logopng{

    width: 73px;
    height: 100px;

}



.kingdomepng2{

    width: 244px;
    height: 47px;
    margin: auto;
    /*
    margin-top: 36px;

    */
}



nav{
    grid-column: 3; grid-row: 1;
    display: flex;
    justify-content: flex-end;
    position: sticky;

    border: solid blueviolet;

}