@font-face{
    font-family: 'montserrat-Reg';
    src: url('../../res/polices/montserrat/Montserrat-Regular.otf')
}

body{

    font-family: Montserrat, serif;
    background: url(../../res/images/BGville.png) no-repeat fixed;
    background-size:cover;
    background-position: 100%;
    width : 1200px;
}

#corps{

    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.30);
    border: solid #832429;
    border-radius: 30px;
    color: rgb(50,50,50);
    font-size: 1.02em;
}

#Partie_Gauche{
    margin: auto;
    width: 50%;
}

#Partie_Droite{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding-left: 5%;
    width: 50%;
    border-left: 4px solid #832429;

}

h1 {
    text-align: center;
    padding-right: 5%;
    color: #832429;
}

h2  {
    color: #832429;
}

.submit{
    margin: auto;
    padding-left: 20%;
}

.submit_button{
    background-color: white;
}

.connexion_button{
    margin: auto;
    padding-left: 35%;
}

input, .submit_button {
    padding:3px;
    border:1px solid #0081dc;
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    cursor:pointer;
}